<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gzBase" version="2.12.83.1" targetFramework="native" />
  <package id="gzDb" version="2.12.83.1" targetFramework="native" />
  <package id="gzDevIL" version="2.12.83.1" targetFramework="native" />
  <package id="gzGraph" version="2.12.83.1" targetFramework="native" />
  <package id="gzImage" version="2.12.83.1" targetFramework="native" />
  <package id="gzSystem" version="2.12.83.1" targetFramework="native" />
</packages>