<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gzAltitude" version="2.12.199.1" targetFramework="native" />
  <package id="gzBase" version="2.12.199.1" targetFramework="native" />
  <package id="gzCoordinate" version="2.12.199.1" targetFramework="native" />
  <package id="gzDb" version="2.12.199.1" targetFramework="native" />
  <package id="gzGraph" version="2.12.199.1" targetFramework="native" />
  <package id="gzImage" version="2.12.199.1" targetFramework="native" />
  <package id="gzSystem" version="2.12.199.1" targetFramework="native" />
  <package id="PurlServer" version="2.12.199.2" targetFramework="native" />
</packages>